<div class="row">
  <div class="col-md-5 col-md-push-2">
    <h1>Create a <strong>new account</strong></h1>
    <%= render 'form_new' %>
    <p>Have an account? <%= link_to "Sign in", sessions_new_path %></p>
  </div>
</div>
