<% content_for :header do %>
  <h1><%=t 'create_new' %></h1>
<% end %>
<div class="row">
  <div class="col-md-5">
    <%= render 'form_new' %>
    <p><%=t 'have_account' %> <%= link_to "Sign in", sessions_new_path %></p>
  </div>
</div>
