@import "brands/clarks";
@import "brands/aldo";

// Place all the styles related to the Brand controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  display: block;
  height: 100%;
  width: 100%;
}

.map-locations {
  height: 750px;
  overflow-y: scroll;
}

.map-filters {
  margin-top: 20px;
}

.embed-map {
  @extend .embed-responsive-16by9;
  min-height: 800px;
}

// Brand navigation
.brand-nav {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0;
  margin-bottom: 0;
}

.brand-logo {
  max-height: 100px;
}

.brand-details {
  padding: 20px 0;
}

.brand-info-box {
  @extend .well;
  background: #F5F5F5;
  color: #696969;
  padding: 45px 30px;
  text-align: center;
}

.brand-info-box .brand-logo {
  max-height: 100px;
  background: black;
  width: 100px;
  height: 300px;
  margin: 0 auto;
  border-radius: 5px;

  img {
    padding: 35px 10px;
    max-width: 100%;
  }
}

// Location
.location-info-box {
  @extend .well;
  position: relative;
  background: none;
  border: none;
  border-top: 1px solid #EFEFEF;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 5px;
  padding: 19px 0;
  color: #494949;
  p {
    color: #949494
  }
}

.data-show {
  position: absolute;
  right: 0;
  top: 20px;
}
