$brand-grey : #464646;

// Override default font, styles
html,body {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  padding-bottom: 10px;
  font-weight: 300;
}

form {
  margin-bottom: 10px;
}

.material-icons {
  padding-top: 8px;
}

.header {
  background: asset-data-url('header.jpg');
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}

// SMSW Media - the core app when not on a brand page
.brand-smswmedia {
  // Navbar container
  .brand-nav {
    background: #fff;
    border: none;
  }

  .navbar-brand {
    height: 45px;
    width: 52px;
    padding: 0;
  }

  // Navbar logo
  .navbar {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  main {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
