$bar-width: 30px;
$bar-height: 2px;
$bar-spacing: 10px;
$bar-color: white;

// menu-screen
.menu-popup {
	background: rgba(0, 0, 0, 0.80);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 9;

	ul {
		margin: auto 0;
	}
}

.menu-container {
	@extend .container;
	padding-top: 15%;
	font-size: 25px;

	ul li {
		padding-bottom: 30px;
	}

	a {
		font-weight: 300;
		color: white;
	}
}
