$bar-width: 30px;
$bar-height: 3px;
$bar-spacing: 10px;
$bar-color: white;

// menu-screen
.menu-popup {
	background: rgba(0, 0, 0, 0.80);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 9;

	ul {
		margin: auto 0;
	}
}

.menu-container {
	@extend .container;
	padding-top: 15%;
	font-size: 25px;

	ul li {
		padding-bottom: 30px;
	}

	a {
		font-weight: 300;
		color: white;
	}
}

// hamburger-menu
.hamburger-menu {
	position: absolute;
	right: 20px;
	margin: auto;
	width: $bar-width;
	height: $bar-height + $bar-spacing*2;
	cursor: pointer;
	margin-top: 49%;
	padding: 0;
	z-index: 10;
}

.bar,
.bar:after,
.bar:before {
	width: $bar-width;
	height: $bar-height;
}

.bar {
	position: relative;
	transform: translateY($bar-spacing);
	background: $bar-color;
	transition: all 0ms 300ms;

	&.animate {
		background: rgba(255, 255, 255, 0);
	}
}

.bar:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: $bar-spacing;
	background: $bar-color;
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
	content: "";
	position: absolute;
	left: 0;
	top: $bar-spacing;
	background: $bar-color;
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.bar.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}
