.rtl {
  direction: rtl;
  .btn-group {
    float: left!important;
  }
  .btn {
    float: left!important;
    left: 0;
    right: auto;
  }
}

.rtl .pull-right {
  float:left !important;
}

.ar {
  .locale-en {
    @extend .hidden;
  }
}

.en {
  .locale-ar {
    @extend .hidden;
  }
}
