<h3>Map</h3>
<div id="map">
</div>

<% content_for :footer_third_party do %>
  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDkiHUkl-Syk3ZkNZYQcmLQZW3mNQZYj-Y&region=AR&v=3.23&callback=initMap" async defer></script>
<% end %>
