<div class="form-group">
  <label for="region" class="control-label sr-only"><%=t :select_region %></label>
  <select id="region" onchange="filterResult(this.value);" class="form-control">
    <option value="all"><%=t :select_region %></option>
    <% @regions.each do |region| %>
      <option value="<%= region %>"><%= region %></option>
    <% end %>
  </select>
</div>
