<% content_for :brand_logo do %>
<div class="navbar-header">
  <a class="navbar-brand" href="#">
    <img alt="Brand" src='<%= @brand.logo %>' style="width: 120px;">
  </a>
</div>
<% end %>

<div class="row">
  <div class="col-md-3">
    <%= render partial: @brand.locations, collection: @brand.locations, locals: {i: 0} %>
    <%= render partial: 'locations/form' %>
  </div>

  <div class="col-md-9">
    <%= render partial: 'brands/google_map' %>
  </div>
</div>
