<%= render partial: 'brands/brand_logo' %>
<div class="row">
  <div class="col-md-3">
    <%= render partial: @brand.locations, collection: @brand.locations, locals: {i: 0} %>
    <%= render partial: 'locations/form' %>
  </div>

  <div class="col-md-9">
    <%= render partial: 'brands/google_map' %>
  </div>
</div>
